* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #F7F7F7;
}

nav {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* nav .logo {
    color: aliceblue;
    padding: 0 100px;
    font-weight: bold;
    line-height: 80px;
    font-size: 35px;
} */

.ll {
    display: flex;
}

.ll img {
    height: auto;
}

nav ul {
    float: right;
    justify-content: space-around;
    margin-right: 5em;
}

.btn {
    margin-left: 25px;
    width: 90px;
    padding: 10px;
    color: #FFFFFF;
    background-color: orange;
    outline: none;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
}

nav ul li a {
    color: rgb(9, 18, 26);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px px;
    border-radius: 3px;
    border: none;
}

.a1 {
    color: orange;
}

.a2 {
    color: skyblue;
}

.a3 {
    color: #05D4DF;
}

.a4 {
    color: #5D58EF;
}


/*optonal*/

.active,
a:hover {
    background: rgb(144, 99, 99);
    transition: .5s;
}

div img {
    width: 100%;
    height: 100vh;
}

.imglogo {
    width: 40px;
}

nav .imglogo {
    color: aliceblue;
    padding: 0 10px;
    font-weight: bold;
    line-height: 80px;
    font-size: 35px;
    width: 55px;
}

.ll h1 {
    font-size: 20px;
    margin-top: 10px;
}


/* mini device ar jonno style*/

.checkbtn {
    font-size: 30px;
    color: #0a0d0f;
    float: right;
    line-height: 80px;
    margin-right: 0px;
    cursor: pointer;
    display: none;
    flex-direction: row-reverse;
}

#check {
    display: none;
}


/*banner section*/

.banner {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin: 0 40px;
    margin-top: 5em;
}

.banner {
    margin-left: 7em;
}

.banner-s p {
    font-size: 2em;
    font-weight: bold;
}

.banner-s .p1 {
    font-size: 20px;
}

.sp1 {
    color: orange;
}

.sp2 {
    color: skyblue;
}

.banner-img {
    height: 20em;
}


/* main section*/

.main {
    display: flex;
    max-width: 1040px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 22px;
    gap: 30px;
    background-image: url(assets/bg.png);
}

.Curriculum {
    text-align: center;
    margin-top: 4em;
    font-weight: bold;
    font-size: 3em;
}

.div1 {
    border: none;
    gap: 10px;
    position: relative;
    height: 70vh;
    border-radius: 10px;
    background: linear-gradient(hsl(198, 65%, 45%) 4%, #fabebe 80%);
}

.img1,
img {
    width: 7em;
    height: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.h1 {
    text-align: center;
    font-size: 26px;
    margin-top: 10px;
}

.p1 {
    text-align: center;
    margin-top: 20px;
    color: #808080;
}

.btn1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    background: none;
    color: #0082e6;
}

.btn2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    background: none;
    color: hsl(138, 100%, 45%);
    font-weight: bold;
}

.btn3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    background: none;
    color: #e60000;
}

.div2 {
    border: 1px solid red;
    border: none;
    gap: 10px;
    position: relative;
    height: 70vh;
    border-radius: 10px;
    background: linear-gradient(#A44AA0 4%, hsl(192, 48%, 92%) 80%);
}

.div3 {
    border: 1px solid red;
    border: none;
    gap: 10px;
    position: relative;
    height: 70vh;
    border-radius: 10px;
    background: linear-gradient(#DEF5FF 4%, #680303 80%);
}

.less-then {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 3px;
    background-color: #0082e6;
    color: white;
}

.b1 {
    border: 1px solid red;
    padding: 10px;
    border-radius: 60%;
}

@media(max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width:858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .4s;
    }
    nav ul li {
        display: block;
    }
    nav ul li a {
        font-size: 20px;
        margin: 50px;
        line-height: 30px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
}

@media (max-width:600px) {
    .logo {
        display: none;
    }
    .ll h1 {
        display: none;
        color: rgb(51, 120, 180);
        padding: 0 10px;
        font-weight: bold;
        line-height: 80px;
        font-size: 35px;
    }
    nav .btn {
        display: none;
    }
    /* .checkbtn i {
        flex-direction: row-reverse;
    }
    .fa fa-navicon {
        flex-direction: row-reverse;
    } */
    nav {
        flex-direction: row-reverse;
    }
    .imglogo {
        width: 1.8em;
        margin-right: 7em;
    }
}